$bg: rgb(170, 225, 25);
$accent: rgb(220, 0, 119);
$btn: rgb(255, 0, 140);
$focus: rgb(220, 0, 119);
$action: rgb(255, 255, 255);
$title: rgb(30, 50, 20);
$text: rgb(30, 50, 25);
$shadow: rgb(255, 0, 140);
$cardBack: rgb(219, 197, 0);