  // EV100
$bg: rgb(255, 255, 255);
$accent: rgb(0, 0, 255);
$btn: rgb(0, 114, 206);
$chatMessage: rgba(187, 224, 255, 0.5);
$yourChatMessage: rgba(0, 211, 255, 0.5);
$focus: rgb(0, 114, 255);
$action: rgb(255, 255, 255);
$title: rgb(0, 0, 0);
$text: rgb(0, 0, 0);
$shadow: rgb(255, 100, 0);
$cardBack: linear-gradient(rgb(0, 114, 206) 65%, black, white 80%);

// $bg: rgb(170, 225, 25);
// $accent: rgb(220, 0, 119);
// $btn: rgb(255, 0, 140);
// $focus: rgb(220, 0, 119);
// $action: rgb(255, 255, 255);
// $title: rgb(30, 50, 20);
// $text: rgb(30, 50, 25);
// $shadow: rgb(255, 0, 140);
// $cardBack: rgb(219, 197, 0);
